<form method="post"  id="ctl00" class="form-horizontal well ">
 
            <fieldset>
              <div class="control-group">
                <div class="control-label">
              
                  <label class="icon-user"></label>
                </div>
                <div class="controls">
                  <input name="Username" type="text" maxlength="50" id="Username" class="input-large" placeholder="Identifiant :">
                  <span id="RequiredFieldValidator1" class="help-inline" style="visibility:hidden;">*</span>
                </div>
              </div>
              <div class="control-group">
                <div class="control-label">
                  <label class="icon-lock"></label>
                </div>
                <div class="controls">
                  <input name="Password" type="password" maxlength="50" id="Password" class="input-large" placeholder="Mot de passe :">
                  <span id="RequiredFieldValidator2" class="help-inline" style="visibility:hidden;">*</span>
                </div>
              </div>
              <div class="control-group">
                <div class="control-label">
                  <label class="icon-flag"></label>
                </div>
                <div class="controls">
                  <select name="Langues"  id="Langues" class="select-large">
    <option selected="selected" value="fr">Français</option>
  
  </select>
          
              </div>
              </div>
                
              <input type="submit" name="Button1" value="Se connecter" id="Button1" class="btn btn-primary btn-block">
              <a style="padding-top: 10px;" id="lien_planning" class="mdpOublie">Mot de passe oublié</a>
              
                </fieldset>
    </form>