#ctl00{
background-color: rgb(245, 245, 245);
color: rgb(51, 51, 51);
display :block;
font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
font-size :14px;
height :410px;
line-height :20px;
margin-bottom: 20px;
margin-left :0px;
margin-right :0px;
margin-top :0px;
min-height :20px;
padding-bottom: 19px;
padding-left :19px;
padding-right: 19px;
padding-top :19px;
text-size-adjust: 100%;
unicode-bidi :isolate;
width :630.667px;
border: none;

}
#form-login.span4{
}
.controls{
    -webkit-text-size-adjust: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}
input#Button1.btn.btn-primary.btn-block{
    -webkit-text-size-adjust: 100%;
    margin: 0;
    font-weight: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 0;
    padding: 4px 12px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding-right: 0;
    padding-left: 0;
    box-sizing: border-box;
    color: #fff;
    background-color: #58AC25;
    border: 1px solid #58AC25;
    height: 40px;
    -webkit-appearance: button;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    width: 100%;
    margin-top: 20px;
}
.mdpOublie{
    -webkit-text-size-adjust: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 4px 12px;
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    display: block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    box-sizing: border-box;
    color: #fff;
    background-color: #58AC25;
    border: 1px solid #58AC25;
    height: 40px;
    margin-top: 5px;
    padding-top: 10px;
}
#Username{
    -webkit-text-size-adjust: 100%;
    margin: 0;
    font-weight: normal;
    line-height: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 0;
    color: #005292;
    width: 100%;
    min-height: 40px;
    box-sizing: border-box;
    padding: 4px 6px;
    font-size: 14px;
    outline-color: #005292;
    background-color: #fff;
    border: 0px solid #fff;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    transition: border linear .2s, box-shadow linear .2s;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
#Password{
    -webkit-text-size-adjust: 100%;
    margin: 0;
    font-weight: normal;
    line-height: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 0;
    color: #005292;
    width: 100%;
    min-height: 40px;
    box-sizing: border-box;
    padding: 4px 6px;
    font-size: 14px;
    outline-color: #005292;
    background-color: #fff;
    border: 0px solid #fff;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    transition: border linear .2s, box-shadow linear .2s;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
#Langues{
    -webkit-text-size-adjust: 100%;
    margin: 0;
    cursor: pointer;
    font-weight: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 4px 6px;
    font-size: 14px;
    outline: 0;
    line-height: 30px;
    border: 0px solid #fff;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    transition: border linear .2s, box-shadow linear .2s;
    background-color: #fff;
    color: #005292;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    min-height: 40px;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
.control-group{
    margin-top: 40px;
}
