<div *ngIf="studentDisplay && studentDisplay.length > 0"> <!--ng if hiya if condition matbeyen had datadiv div ta tkun var objet fiha data makhawyash-->
  <div class="datadiv" *ngFor="let personne of studentDisplay">
  <h5>Establishment | Etablissement</h5>
  <p>{{ personne.etablissement }}</p>
    
  <h5>Full name | Nom et Prénom</h5>
  <p>{{ personne.fullName }}</p>

  <h5>Registration number | Matricule</h5>
  <p>{{ personne.registrationNum }}</p>

  <h5>Personal bank detail | RIB Personnel</h5>
  <p>{{ personne.rib }}</p>

</div>
</div>

<p *ngIf="!studentDisplay && !studentDisplay.length > 0">Please submit the form to display student data.</p>

  