.datadiv {
    position: relative;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    width: 460px;
    height: 250px;
    overflow: visible; /* Change to allow all content to be visible */
    display: block; /* Ensure each datadiv is displayed */
}

.datadiv::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../assets/uemf-removebg-preview.png');
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    opacity: 0.08;
    z-index: 0;

}

.datadiv .content {
    position: relative;
    z-index: 1;
}

h5 {
    color: #007bff;
    font-weight: bold;
    margin: 10px 0 5px;
}

p {
    margin-left: 8px;
    color: #333;
}
