.datadiv {
    position: relative; /* Ensure positioning for the pseudo-element */
    overflow: hidden; /* Prevent content overflow */
    
        width: 400px; /* Ensure it takes full width of its container */
        max-width: 600px; /* Optional: set a maximum width to avoid being too large */
        margin: 0 auto; /* Center it horizontally if necessary */
        box-sizing: border-box; /* Ensure padding is included in the element's total width */
        height: 335px;
        margin-bottom: 60px;
      
}

.datadiv::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../assets/uemf-removebg-preview.png'); /* Your background image */
    background-size: contain;
    background-position-y: bottom;
    background-repeat: no-repeat; 
    opacity: 0.2;
    z-index: 0; 
}

.datadiv .content {
    position: relative; 
    z-index: 1; 
}

h5 {
    color: plum;
}
p {
    margin-left: 8px;
}