<!-- data.component.html -->
<div class="datadiv" *ngIf="personne"> <!--ng if hiya if condition matbeyen had datadiv div ta tkun var objet fiha data makhawyash-->
  <h5>Establishment | Etablissement</h5>
  <p>{{ personne.etablissement }}</p>

  <h5>Full name | Nom et Prénom</h5>
  <p>{{ personne.fullName }}</p>

  <h5>Registration number | Matricule</h5>
  <p>{{ personne.registrationNum }}</p>

  <h5>Personal bank detail | RIB Personnel</h5>
  <p>{{ personne.rib }}</p>
</div>

<!-- Show a message if no data is present -->
<p *ngIf="!personne">Please submit the form to display student data.</p>
