<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="datadiv" >
  <h5>Establishment | Etablissement</h5>   <p>Ecole D'Ingenierie Digitale Et D'Intelligence Artificielle</p>
  <h5>Full name | Nom et Prénom</h5> <p>Merouane BELMOUBARIK</p>
  <h5>Registration number | Matricule</h5>  <p>2000137</p>
  <h5>Personal bank detail | RIB Personnel</h5>  <p>38274821742893759382758983420</p>
</div>
</body>
</html>